# Server configuration
server.port=8080
# Database connection details
spring.application.name=backend
spring.datasource.url=jdbc:mysql://localhost:3306/plan_sprint
spring.datasource.username=root
spring.datasource.password=root
# Flyway configuration
spring.flyway.enabled=true
spring.flyway.locations=classpath:db/migrations
# JWT configuration
jwt.secret-key=your-special-secret
jwt.expiration-in-ms=900000